<html>
    <head>
        <title></title>
    </head>
    <body>
        
        <a href="{% url 'home' %}">home</a>
        <a href="{% url 'books' %}">Books</a>
        <a href="{% url 'students' %}">Library Students</a>
        {% block content %} {% endblock %}
    </body>

</html>
